*{
    padding: 0;
    margin: 0;
}

header{
    background-color:#003366;
    padding: 10px;
    color: white;
}

body{
    background-color:ghostwhite;
}



.container{
    display: flex;
    flex-direction: row;
    padding-left: 15vw;
    padding-right: 15vw;
    gap: 10vw;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 5vw;
}


.top-left,
.bottom-left{
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.box{
    width: 17vw;
}

img{
    width: 100%;
}


.images-top img,
.images-bottom img ,
.about-img img{
    width: 55px;
    height: 55px;
    object-fit: cover;
}

